<section class="bg-gray-300 p-4 sm:p-6 min-h-screen overflow-x-hidden">
  <div>
    <div class="grid gap-6 mb-6 md:grid-cols-2 overflow-x-hidden">
      <div class="w-full">
        <label class="block mb-2 font-medium"> Select Meeting </label>

        <select [(ngModel)]="meetingId" class="w-full max-w-full border rounded-lg p-2">
          <option [ngValue]="null">All Meeting</option>

          <option *ngFor="let meeting of filteredMeetings" [ngValue]="meeting.id">
            {{ meeting.name }}
          </option>
        </select>
      </div>

      <div class="mb-6">
        <label class="block mb-2 font-medium"> Student Phone </label>

        <input
          type="text"
          [(ngModel)]="studentPhone"
          placeholder="Enter phone number"
          class="w-full border rounded-lg p-2"
        />
      </div>
    </div>

    <div class="order-2 md:order-2 p-4 col-span-6 md:col-span-5 flex justify-end gap-4">
      <button
        type="button"
        (click)="exportAttendanceExcel()"
        class="btn btn1 text-black md:w-32 px-4 py-2 rounded-lg"
      >
        Export Excel
      </button>

      <button
        type="button"
        (click)="showAttendance()"
        class="btn btn1 text-black md:w-32 px-4 py-2 rounded-lg"
      >
        show all
      </button>
    </div>
  </div>

  <div
    *ngIf="showTable"
    class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
  >
    <table class="w-full text-sm text-left rtl:text-right text-body">
      <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
        <tr>
          <th scope="col" class="px-6 py-3 font-medium">Name</th>
          <th scope="col" class="px-6 py-3 font-medium">وقت الخدمة</th>
          <th scope="col" class="px-6 py-3 font-medium">وقت الحضور</th>
          <!-- <th scope="col" class="px-6 py-3 font-medium">التاخير</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of eventList" class="bg-neutral-primary-soft border-b border-default">
          <td scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
            {{ item.studentName }}
          </td>
          <td class="px-6 py-4 font-sans">
            {{ item.meeting.meetingTime }}
          </td>
          <td class="px-6 py-4 font-sans">
           {{item.attendanceTime}}
          </td>
          <!-- <td class="px-6 py-4 font-sans">
         
          </td> -->
      
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4 flex justify-start">
    <button [routerLink]="['/details', eventName, id]" class="btn btn1 md:w-32 mx-4 p-2">
      Back
    </button>
  </div>
</section>
