<section class="bg-gray-300 p-8 min-h-svh" >
  <div class="grid grid-cols-6 gap-4 items-center">
    <div class="order-1 col-span-6 md:col-span-1 text-center rounded-2xl colo1">
      <h2 class="text-lg font-bold md:text-2xl">All Event</h2>
    </div>
    <!--search-->
    <div class="col-span-6 md:col-span-2 md:col-end-7 order-1 md:order-2">
      <form class="max-w-sm mx-auto">
        <label for="search" class="block mb-2.5 text-sm font-medium text-heading sr-only"
          >Search Event</label
        >
        <div class="relative">
          <input
            [(ngModel)]="text"
            type="search"
            name="search"
            class="block w-full md:w-2xs ps-4 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
            placeholder="Search Event...."
          />
        </div>
      </form>
    </div>

    <div class="order-3 md:order-1 col-span-6 md:col-span-5 flex justify-end">
      <button
       (click)="openModal()"
       type="button"
        class="btn btn1 md:w-32"
      >
        Create Event
      </button>
    </div>

    <!--table-->
    <div class="order-2 md:order-2 col-span-6 md:col-start-1 md:col-end-7">
      <div
        class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
      >
        <table  class="w-full text-sm text-left rtl:text-right text-body">
          <thead
            class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium"
          >
            <tr>
              <th scope="col" class="px-6 py-3 font-medium">Event Name</th>
              <th scope="col" class="px-6 py-3 font-medium">Start</th>
              <th scope="col" class="px-6 py-3 font-medium">End</th>
              <th scope="col" class="px-6 py-3 font-medium">Action</th>
              <th scope="col" class="px-6 py-3 font-medium">Delete</th>
            </tr>
          </thead>

          <tbody>
            @for (event of eventList | search: text ; track event.id) {
            <tr class="bg-neutral-primary-soft border-b border-default">
              <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                {{ event.name }}
              </th>
              <td class="px-6 py-4 font-medium">
                {{ event.from }}
              </td>
              <td class="px-6 py-4 font-medium">
                {{ event.to }}
              </td>

              <td class="px-6 py-4">
                <div [routerLink]="['/details' ,event.name ,event.id]" class="font-medium cursor-pointer text-fg-brand hover:underline">Edit</div>
              </td>
              <td (click)="removeEvent(event.id)" class="px-6 py-4">
                <i class="fa-solid fa-trash hover:text-red-700 cursor-pointer"></i>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Main modal -->
  <form [formGroup]="eventForm" (ngSubmit)="submitForm()" >
    <div
      #modal
    
      tabindex="-1"
      
        *ngIf="isModalOpen"

  class="fixed top-0 left-0 right-0 z-50 w-full h-full flex justify-center items-center bg-black/40"
    >
      <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div
          class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
        >
          <!-- Modal header -->
          <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
            <h3 class="text-2xl font-semibold text-heading">Creat Event</h3>
            <button
              type="button"
              class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
               (click)="closeModal()"
            >
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18 17.94 6M18 18 6.06 6"
                />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="mb-4">
            <label for="text" class="block mb-2.5 text-sm font-medium text-heading"
              >Event Name</label
            >
            <input
              formControlName="name"
              type="text"
              id="text"
              [class.border-red-500]="eventForm.get('name')?.invalid && eventForm.get('name')?.touched"
    [class.bg-red-50]="eventForm.get('name')?.invalid && eventForm.get('name')?.touched"
              class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
              placeholder="name"
              required
            />
          @if (eventForm.get('name')?.invalid && eventForm.get('name')?.touched) {
    <p class="text-red-600 text-xs mt-1 font-medium italic">
       * Please enter a valid event name (min 3 chars).
    </p>
  }
          </div>

          <div class="relative mb-4 max-w-sm">
            <input
              formControlName="from"
              type="datetime-local"
              class="block w-full ps-5 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 shadow-xs placeholder:text-body"
              placeholder="Select date"
            />
            @if (eventForm.get('from')?.invalid && eventForm.get('from')?.touched) {
    <p class="text-red-500 text-xs mt-1">Start date is required.</p>
  }
          </div>

          <div class="relative mb-4 max-w-sm">
            <input
              formControlName="to"
              type="datetime-local"
              class="block w-full ps-5 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 shadow-xs placeholder:text-body"
              placeholder="Select date"
            />
            @if (eventForm.get('to')?.invalid && eventForm.get('to')?.touched) {
    <p class="text-red-500 text-xs mt-1">End date is required.</p>
  }
          </div>

          <!-- Modal footer -->
          <div class="flex items-center border-t border-default space-x-4 pt-4 md:pt-5">
            <button
              [disabled]="isLoading"
              type="submit"
              class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              Creat @if (isLoading) {
              <span><i class="fas fa-spinner animate-spin"></i></span>
              }
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
