<footer class="bg-gray-300  shadow w-full">
 <diV class="flex justify-center h-10 pt-2 p-2">
     <li class="flex items-center space-x-2 md:space-x-6  ">
          <a
            href="https://www.facebook.com/share/1AKCowHbjY/"
            target="_blank"
            class="block py-2 px-3 rounded-2xl md:p-0 text-black hover:text-blue-800 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-facebook fa-lg "></i
          ></a>
          <a
            href="#"
            class="block py-2 px-3 rounded-2xl md:p-0 text-red-700  hover:text-blue-800 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-instagram fa-lg"></i
          ></a>
          <a
            href="https://whatsapp.com/channel/0029Vb6x3HK7j6g7z9QJa420"
            target="_blank"
            class="block py-2 px-3 rounded-2xl md:p-0 text-green-700 hover:text-blue-800 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-whatsapp fa-lg"></i
          ></a>
          <a
            href="https://www.youtube.com/@MakeAdifferenceMovement"
            target="_blank"
            class="block py-2 px-3 rounded-2xl md:p-0 text-red-700 hover:text-blue-800 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-youtube fa-lg"></i
          ></a>
        </li>

 </diV>
</footer>