.sidebar {
  width: 260px;
  height: 100dvh;
}


/* =========================
   Mobile
========================= */

@media (max-width: 576px) {

  .sidebar {
    height: 100dvh;
    max-height: 100dvh;
  }


  /* Logo Section */
  .sidebar > div:first-child {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .sidebar > div:first-child img {
    width: 48px !important;
    height: 48px !important;
    margin-bottom: 2px !important;
  }

  .sidebar > div:first-child h2 {
    font-size: 15px !important;
    margin-bottom: 0 !important;
  }

  .sidebar > div:first-child p {
    font-size: 10px !important;
  }


  /* Menu */
  .sidebar ul {
    padding-top: 8px !important;
  }


  /* Menu Items */
  .sidebar ul li {
    padding-top: 9px !important;
    padding-bottom: 9px !important;

    margin-bottom: 2px !important;

    font-size: 14px;
  }


  /* Icons */
  .sidebar ul li i {
    font-size: 14px;
  }


  /* Sign Out */
  .sidebar > div:last-child {
    margin-top: auto !important;
  }

  .sidebar > div:last-child > div {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    font-size: 14px;
  }


  /* Background image */
  .sidebar > img {
    height: 130px !important;
    bottom: 45px !important;
  }
}