@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body{
    margin: auto;
    font-family: "Playfair Display", serif;
    
   
}
:root{
  --main-color:rgb(242, 186, 96);
  --second-color: rgb(232,7,121);

}


@utility container{
    margin-inline:auto;
}

.colo1 {
  background-color: var(--main-color);
}
@layer components{
  .btn1{ 
    @apply  disabled:bg-gray-500 disabled:cursor-not-allowed  rounded-2xl bg-fg-pink py-1.5 w-full cursor-pointer font-bold hover:bg-amber-400 transition-all duration-300 };
  .btnn2{
    @apply  disabled:bg-gray-500 disabled:cursor-not-allowed  rounded-2xl bg-amber-400 py-1.5 w-full cursor-pointer font-bold hover:bg-red-600 transition-all duration-300 };

 .main-input{
    @apply block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50  border-0 border-b-2 border-gray-300 appearance-none    focus:outline-none focus:ring-0 focus:border-gray-500
  };

   .main-label {
    @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-gray-600 peer-focus:dark:text-gray-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
  };
}




/* @keyframes spin-once {
  0% { transform: rotate(0deg); }
  100%   { transform: rotate(360deg); }
}

.animate-spin-once {
  animation: spin-once 1s linear;} */

  @keyframes drop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop {
  animation: drop 1s ease-out forwards;
}




@keyframes drop-bounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(20%);
    opacity: 1;
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-drop-bounce {
  animation: drop-bounce 1.5s ease-out forwards;
}


